
body{
    padding: 20px;
}

p, h4, h3, h2{
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bolder;
}

.investment h1{
    text-align: center;
    background: #540da3;
    padding: 10px;
    color: #fff;
}

.transaction{
    margin-top: 10px;
}

.main-part{
    background-color: #ddd;
}

.calculation{
    display: flex;
    justify-content: space-between;
}

.input-field label{
    width: 60px;
    display: inline-block;
    padding: 10px;
}

.percentage label{
    width: 50px;
    display: inline-block;
    padding: 8px;
}

.percentage input{
    padding: 5px;
    margin-bottom: 8px;
    width: 120px;
}

.input-field input{
    padding: 5px;
    margin-bottom: 10px;
    width: 120px;
}

.percentage{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
}

.percentage span{
    padding: 10px;
    color: purple;
}

input-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text, #text1, #text2{
    color: #f52021;
    font-size: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .investment{
        width: 100%;
    }
    
    .image-part {
        width: 100%;
    }
    
    .main-part{
        width: 100%;
        text-align: center;
    }
    
    .calculation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #save-btn{
        background-color: #540da3;
        border: none;
        border-radius: 8px;
        color: #fff;
    }
    
    .image-part img{
        width: 100%;
    }  
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) {
    .investment{
        width: 100%;
        height: 680px;
    }
    
    .image-part {
        width: 58%;
    }
    
    .main-part{
        width: 38%;
        text-align: center;
    }
    
    .image-part img{
        width: 100%;
        height: 522px;
    }
    
    #calculate-btn {
        background-color: #540da3;
        border: none;
        border-radius: 8px;
        padding: 10px 30px;
        color: #fff;
    }
    
    #save-btn{
        background-color: #540da3;
        border: none;
        border-radius: 8px;
        padding: 5px 16px;
        color: #fff;
    }
    
    
}