body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f0bcc5;
}
.matir-bank{
    width: 550px;
    margin: 0 auto;
    background-color: #f80;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.login-heading{
    text-align: center;
    text-transform: uppercase;
}

.login-form input{
    padding: 10px;
    margin-bottom: 10px;
    width: 450px;
}

#login-btn, #deposit-btn, #widrow-btn{
    padding: 10px 16px;
    background-color: #0c7979;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}

#welcome-text{
    width: 100%;
   
}

.transaction{
    display: flex;
    
}

#input-field{
    margin-top: 20px;
}

.deposit, .widrow, .balance{
    width: 30%;
    /* background-color: #0c7979; */
    padding: 5px;
    margin: 5px;
}

#input-field{
    display: flex;
}

.login-form input, #input-field input{
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    width: 241px;
}